html {
  height: 100%;
  width: 100%;
  background-image: url('../static/Wallpaper.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black;
}



body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  font-family: 'Arial', 'Tahoma';
  color: #ececec;
  box-sizing: border-box;
  flex-direction: column;
  overflow: auto;
}
